header {
    display: flex;
    background-color: black;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-left: 5rem;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

header nav {
    display: flex;
    gap: 2rem;

    a {
        color: gainsboro;
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;     
    }

    a:hover {
        color: white;
      }
}

header span {
    margin-right: 5rem;
    color: white;
    cursor: pointer;
}