footer {
    display: flex;
    background-color: black;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: end;
    position: absolute;
    bottom: 0;
}

footer strong {
    color: white;
    font-size: 10px;
    margin-right: 1rem;
}